.u-bd {
  border: 1px solid #333;
}

.u-bl {
  border: 1px solid #ccc;
}

.u-border-shadow {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
}

.u-br-5 {
  border-radius: 5px;
}

.u-br-10 {
  border-radius: 10px;
}

.ubr-15 {
  border-radius: 15px;
}

.u-mb-5 {
  margin-bottom: 5px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-mb-15 {
  margin-bottom: 15px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-mb-25 {
  margin-bottom: 25px;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-mb-35 {
  margin-bottom: 35px;
}
